# -*-mode:ini-*- vim:ft=dosini

# Consistent coding style definitions
#
# Used by EditorConfig-compatible IDEs and text-editors to keep files in a
# uniform format.
# See http://editorconfig.org

root = true

[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
end_of_line = lf

[*.bat]
indent_style = tab
end_of_line = crlf

[*.py]
max_line_length = 79

[.travis.yml]
indent_style = space
indent_size = 2

[LICENSE]
insert_final_newline = false

[Makefile]
indent_style = tab
