#
# Requirements file for pip (Python Package Installer)
# for development dependencies
#

aioresponses>=0.6.0
bandit>=1.5.1
bumpversion==0.5.3
check-manifest>=0.40
coverage==4.5.1
flake8==3.5.0
git-pylint-commit-hook>=2.5.1
pip>=18.1
pre-commit>=1.14.4
pylint>=2.3.0
pytest==3.8.2
pytest-asyncio==0.10.0
pytest-httpserver==0.2.1
pytest-runner==4.2
pytoml>=0.1.20
requests==2.21.0
setuptools>=40.8.0
sphinx-autodoc-typehints>=1.6.0
sphinx>=2.1
tox==3.5.2
twine==1.12.1
watchdog==0.9.0
wheel==0.32.1
