#
# Requirements file for pip (Python Package Installer)
# for development dependencies
#

aioresponses>=0.6.0
argh==0.26.2
bandit>=1.5.1
bumpversion==0.5.3
check-manifest>=0.40
coverage==5.0.3
flake8==3.7.9
git-pylint-commit-hook>=2.5.1
pip>=18.1
pre-commit>=1.14.4
pylint>=2.3.0
pytest-asyncio==0.10.0
pytest-httpserver==0.3.4
pytest-runner==5.2
pytest==5.3.5
pytoml>=0.1.20
requests==2.23.0
setuptools>=40.8.0
sphinx-autodoc-typehints>=1.6.0
Sphinx>=2.1
sphinx_rtd_theme>=0.4.3
tox==3.14.5
twine==1.15.0
watchdog==0.10.2
wheel==0.34.2
